hr { color: #000000}
body, table, .rvts0 /* Font Style */
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
.rvts1
{
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts2
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts3
{
}
.rvts4
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
.rvts5
{
 font-size: 16pt;
}
.rvts6
{
 font-size: 16pt;
 font-weight: bold;
}
.rvts7
{
 font-size: 14pt;
}
.rvts8
{
 font-size: 14pt;
 font-weight: bold;
}
.rvts9
{
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts10
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts11
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts12
{
 font-size: 14pt;
 font-weight: bold;
}
.rvts13
{
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts14
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts15
{
 font-size: 14pt;
}
.rvts16
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
.rvts17
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
.rvts18
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts19
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
.rvts20
{
 font-size: 14pt;
 color: #000000;
}
.rvts21
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
.rvts22
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
.rvts23
{
}
.rvts24
{
}
.rvts25
{
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts26
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts27
{
}
.rvts28
{
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts29
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts30
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 color: #000000;
}
.rvts31
{
 font-size: 14pt;
}
.rvts32
{
 font-size: 14pt;
 font-weight: bold;
}
.rvts33, .rvts33
{
 color: #ffffff;
 background-color: #ff0000;
 text-decoration: none;
 border-bottom: solid 1px;
}
.rvts34
{
 color: #ffffff;
 background-color: #ff0000;
}
.rvts35
{
}
.rvts36
{
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts37
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts38
{
}
.rvts39
{
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts40
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts41
{
 font-size: 14pt;
}
.rvts42
{
 font-size: 14pt;
 font-weight: bold;
}
.rvts43
{
}
.rvts44
{
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts45
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts46
{
 font-size: 14pt;
}
.rvts47
{
 font-size: 14pt;
 font-weight: bold;
}
.rvts48
{
}
.rvts49
{
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts50
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts51
{
 font-size: 14pt;
}
.rvts52
{
 font-size: 14pt;
 font-weight: bold;
}
.rvts53
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts54
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
.rvts55
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
.rvts56
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
.rvts57, .rvts57
{
 color: #ffffff;
 background-color: #ff0000;
 text-decoration: none;
 border-bottom: solid 1px;
}
.rvts58
{
}
.rvts59
{
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts60
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts61
{
 font-size: 14pt;
}
.rvts62
{
 font-size: 14pt;
 font-weight: bold;
}
.rvts63
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
.rvts64
{
}
.rvts65
{
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts66
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
}
.rvts67
{
 font-size: 14pt;
}
.rvts68
{
 font-size: 14pt;
 font-weight: bold;
}
.rvts69
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 24px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1
{
 text-align: center;
}
.rvps2
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 5px;
}
.rvps3
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps4
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 47px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 0px;
}
.rvps5
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 0px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 0px;
}
.rvps6
{
 text-align: center;
 text-indent: 0px;
}
.rvps7
{
}
.rvps8
{
 text-align: center;
}
.rvps9
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 5px;
}
.rvps10
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps11
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 47px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 0px;
}
.rvps12
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 0px;
}
.rvps13
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 47px;
 background: #ffffff;
 margin: 0px 0px 1px 0px;
}
.rvps14
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 47px;
 margin: 0px 0px 1px 0px;
}
.rvps15
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 0px;
}
.rvps16
{
 text-indent: -48px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 48px;
}
.rvps17
{
 text-indent: 0px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 48px;
}
.rvps18
{
 text-align: center;
 text-indent: 0px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 48px;
}
.rvps19
{
 text-align: right;
 text-indent: 47px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 0px;
}
.rvps20
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #ffffff;
 margin: 8px 0px 8px 0px;
}
.rvps21
{
 text-align: center;
 background: #ccffcc;
}
.rvps22
{
}
.rvps23
{
 text-align: center;
}
.rvps24
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 5px;
}
.rvps25
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 38px;
 margin: 0px 0px 1px 5px;
}
.rvps26
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 21px;
}
.rvps27
{
 text-align: center;
 margin: 0px 0px 1px 21px;
}
.rvps28
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 43px;
 margin: 0px 0px 1px 0px;
}
.rvps29
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 22px;
 margin: 0px 0px 1px 0px;
}
.rvps30
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 34px;
 margin: 0px 0px 1px 0px;
}
.rvps31
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 34px;
 margin: 0px 0px 1px 0px;
}
.rvps32
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 21px;
 margin: 0px 0px 1px 0px;
}
.rvps33
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 0px;
}
.rvps34
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 22px;
}
.rvps35
{
 text-align: center;
 text-indent: 43px;
 margin: 0px 0px 1px 0px;
}
.rvps36
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 13px;
}
.rvps37
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 4px;
}
.rvps38
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 4px;
}
.rvps39
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 0px;
}
.rvps40
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 33px;
 margin: 0px 0px 1px 0px;
}
.rvps41
{
 text-align: center;
 text-indent: 33px;
 margin: 0px 0px 1px 0px;
}
.rvps42
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 33px;
 margin: 0px 0px 1px 0px;
}
.rvps43
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps44
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps45
{
 text-align: center;
 text-indent: 22px;
 margin: 0px 0px 1px 0px;
}
.rvps46
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 0px;
}
.rvps47
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 47px;
 background: #ffffff;
 margin: 0px 0px 1px 0px;
}
.rvps48
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 1px 0px;
}
.rvps49
{
 text-indent: -48px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 48px;
}
.rvps50
{
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 48px;
}
.rvps51
{
 text-align: center;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 48px;
}
.rvps52
{
 text-align: right;
 text-indent: 47px;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 1px 0px;
}
.rvps53
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #ffffff;
 margin: 8px 0px 8px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: outside; list-style-type: decimal;}
